<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="2700; URL=https://localhost:44361/">
    <link href="~/css/StyleSheetQuestions.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/img/faceicon.ico" type="image/x-icon" />
    <script src="~/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
    <title>Тестирование</title>
</head>
<body>
    <header>
        <h2>Задачи из блока профильной математики ЕГЭ-2021.</h2>
        <h3>На решение выделено 45мин</h3>
    </header>
    <main>
        <form asp-controller="LogIn" asp-action="Index">
            <div>
                <h5>Вопрос №1</h5>
                <p>
                    Килограмм орехов стоит 75 рублей. Маша купила 4 кг 400 г орехов. Сколько рублей сдачи она должна получить с 350 рублей?
                </p>
                <label><input name="nuts" type="radio" value="1" />20</label>
                <label><input name="nuts" type="radio" value="2" />50</label>
                <label><input name="nuts" type="radio" value="3" />75</label>
                <label><input name="nuts" type="radio" value="4" />0</label>
            </div>
            <hr />
            <div>
                <h5>Вопрос №2</h5>
                <p>
                    В пачке 500 листов бумаги формата А4. За неделю в офисе расходуется 1200 листов. Какое наименьшее количество пачек бумаги
                    нужно купить в офис на 4 недели?
                </p>
                <label><input name="list" type="radio" value="1" />9</label>
                <label><input name="list" type="radio" value="2" />11</label>
                <label><input name="list" type="radio" value="3" />10</label>
                <label><input name="list" type="radio" value="4" />4</label>
            </div>
            <hr />
            <div>
                <h5>Вопрос №3</h5>
                <p>
                    В обменном пункте 1 гривна стоит 3 рубля 70 копеек. Отдыхающие обменяли рубли на гривны и купили 3 кг помидоров по цене 4
                    гривны за 1 кг. Во сколько рублей обошлась им эта покупка? Ответ округлите до целого числа.
                </p>
                <label><input name="money" type="radio" value="1" />12</label>
                <label><input name="money" type="radio" value="2" />44,4</label>
                <label><input name="money" type="radio" value="3" />44</label>
                <label><input name="money" type="radio" value="4" />4</label>
            </div>
            <hr />
            <div>
                <h5>Вопрос №4</h5>
                <p>
                    Больному прописано лекарство, которое нужно пить по 0,5 г 3 раза в день в течение 21 дня. В одной упаковке 10 таблеток лекарства
                    по 0,5 г. Какого наименьшего количества упаковок хватит на весь курс лечения?
                </p>
                <label><input name="pills" type="radio" value="1" />6</label>
                <label><input name="pills" type="radio" value="2" />7</label>
                <label><input name="pills" type="radio" value="3" />30</label>
                <label><input name="pills" type="radio" value="4" />5</label>
            </div>
            <hr />
            <div>
                <h5>Вопрос №5</h5>
                <p>
                    Железнодорожный билет для взрослого стоит 720 рублей. Стоимость билета для школьника составляет 50% от стоимости билета
                    для взрослого. Группа состоит из 15 школьников и 2 взрослых. Сколько рублей стоят билеты на всю группу?
                </p>
                <label><input name="ticket" type="radio" value="1" />5400</label>
                <label><input name="ticket" type="radio" value="2" />7000</label>
                <label><input name="ticket" type="radio" value="3" />1440</label>
                <label><input name="ticket" type="radio" value="4" />6840</label>
            </div>
            <hr />
            <div>
                <h5>Вопрос №6</h5>
                <p>
                    Флакон шампуня стоит 160 рублей. Какое наибольшее число флаконов можно купить на 1000 рублей во время распродажи, когда
                    скидка составляет 25% ?
                </p>
                <label><input name="action" type="radio" value="1" />8</label>
                <label><input name="action" type="radio" value="2" />25</label>
                <label><input name="action" type="radio" value="3" />6</label>
                <label><input name="action" type="radio" value="4" />7</label>
            </div>
            <hr />
            <div>
                <h5>Вопрос №7</h5>
                <p>
                    На рисунке точками показана месячная аудитория поискового сайта Ya.ru во все месяцы с декабря 2008 года по октябрь 2009 года.
                    По горизонтали указываются месяцы, по вертикали — количество человек, посетивших сайт хотя бы раз за данный месяц.
                    Для наглядности точки на рисунке соединены линией.
                    Определите по рисунку наименьшую месячную аудиторию сайта Ya.ru в период с декабря 2008 года по апрель 2009 года.
                </p>
                <img src="~/img/graf1.png" alt="Если график у вас не отобразился, то обратитесь в нашу техподдержку" />
                <div class="answer">
                    <label><input name="graf" type="radio" value="1" />3 100 000</label>
                    <label><input name="graf" type="radio" value="2" />3 200 000</label>
                    <label><input name="graf" type="radio" value="3" />3 150 000</label>
                    <label><input name="graf" type="radio" value="4" />3 175 000</label>
                </div>
            </div>
            <hr />
            <div>
                <h5>Вопрос №8</h5>
                <p>
                    На диаграмме показан средний балл участников 10 стран в тестировании учащихся 4-го класса, по естествознанию в 2007 году
                    (по 1000-балльной шкале). По данным диаграммы найдите число стран, в которых средний балл участников выше, чем в Венгрии.
                </p>
                <img src="~/img/dia1.png" alt="Если график у вас не отобразился, то обратитесь в нашу техподдержку" />
                <div class="answer">
                    <label><input name="balls" type="radio" value="1" />5</label>
                    <label><input name="balls" type="radio" value="2" />4</label>
                    <label><input name="balls" type="radio" value="3" />0</label>
                    <label><input name="balls" type="radio" value="4" />3</label>
                </div>
            </div>
            <hr />
            <div>
                <h5>Вопрос №9</h5>
                <p>
                    На графике представлено изменение биржевой стоимости акций газодобывающей компании в первые две недели ноября.
                    По горизонтали указываются числа месяца, по вертикали — стоимость акции в рублях. 2 ноября бизнесмен приобрел 10 акций
                    этой компании. Шесть из них он продал 6 ноября, а 13 ноября — остальные 4. Известно, что цена акций убывала линейно.
                    Сколько рублей потерял бизнесмен в результате этих операций?
                </p>
                <img src="~/img/birz1.png" alt="Если график у вас не отобразился, то обратитесь в нашу техподдержку" />
                <div class="answer">
                    <label><input name="birz" type="radio" value="1" />3500</label>
                    <label><input name="birz" type="radio" value="2" />5400</label>
                    <label><input name="birz" type="radio" value="3" />4000</label>
                    <label><input name="birz" type="radio" value="4" />4500</label>
                </div>
            </div>
            <hr />
            <div>
                <h5>Вопрос №10</h5>
                <p>
                    Решите уравнение:
                </p>
                <img class="ur-ir" src="~/img/ur-ir.png" alt="Если график у вас не отобразился, то обратитесь в нашу техподдержку" />
                <div class="answer">
                    <label><input name="value" type="radio" value="1" />1/2</label>
                    <label><input name="value" type="radio" value="2" />0</label>
                    <label><input name="value" type="radio" value="3" />1/8</label>
                    <label><input name="value" type="radio" value="4" />1</label>
                </div>
            </div>
            <div class="timer"></div>
            <script>
                var timerElem = document.querySelector('.timer'),
                    i = 60 * 45,
                    timerId = setInterval(function () {
                        i--;
                        timerElem.innerHTML = Math.floor(i / 60) + ':' + Math.floor(i % 60 / 10) + i % 60 % 10;
                        if (i < 1) clearInterval(timerId);
                    }, 1000);
            </script>
            <button onclick="msg()">Отправить</button>
        </form>
    </main>
    <footer>
        <h3>ОАО "ЕГЭматика"</h3>
        <h4>&copy; CCG Company @DateTime.Now.Year</h4>
    </footer>
</body>
</html>